@media (max-width: 1200px) {
    body {
        background-size: cover;
        background-position: center;
    }

    .content {
        overflow-y: auto;
        flex-direction: column;
        align-items: center;
        padding: 5px 300px 50px 50px; /* Adjust padding for smaller screens */
    }

    .promo-message-desktop {
        position: static;
        transform: none;
        max-width: 100%;
        margin-bottom: 5px;
        text-align: center;
        padding-left: 45%;
    }

    h1 {
        max-width: 50%;
        padding-right: 20%;
    }

    .login-section {
        order: 2; /* Move login-section to second */
    }

    .header-icon {
        padding-right: 20px;
    }

    .left-header {
        justify-content: flex-start;
    }

    .right-header {
        justify-content: flex-end;
        padding-right: 2%;
    }

    .login-form {
        padding-left: 37%;
    }
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 5px 30px 50px 50px; /* Adjust padding for smaller screens */
    }

    .promo-message-desktop {
        position: static;
        transform: none;
        margin-bottom: 5px;
        align-items: center;
        padding-left: 15%;
    }

    .promo-message-desktop h1 {
        font-size: 50px;
        max-width: 100%;
        min-width: 80%;
    }

    .promo-message-desktop p {
        font-size: 40px;
        max-width: 80%;
        min-width: 60%;
    }

    .login-section {
        order: 2; /* Move login-section to second */
    }

    .header-icon {
        padding-right: 20px;
    }

    .left-header {
        justify-content: flex-start;
    }

    .right-header {
        justify-content: flex-end;
        padding-right: 2%;
    }

    .login-form {
        padding: 0px 100px 10px 100px;
    }
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
        position: static;
        align-items: center;
        padding: 2px 10px 10px ;
    }

    .right-header {
        font-size: 30px;
        margin-right: 100px;
    }

    .left-header {
        font-size: 30px;
    }

    .site-icon {
        width: 200px;
        height: 200px;
    }

    .header-icon {
        width: 85px;
        height: 45px;
    }

    .header-icon2 {
        width: 100px;
        height: 55px;
    }

    .header-icon3 {
        width: 85px;
        height: 85px;
    }

    .promo-message-desktop h1 {
        max-width: 100%;
        min-width: 90%;
        font-size: 50px;
        align-items: center;
        padding-top: 2%;
        padding-right: 50px;
    }

    .promo-message-desktop p {
        font-size: 50px;
        max-width: 200%;
        min-width: 110%;
        padding-right: 100%;
        margin-right: 150px;
    }

    .login-form {
        font-size: 45px;
        width: 75%;
        padding-left: 55%;
    }
    
    .form-group input {
        font-size: 20px;
    }

    button {
        font-size: 40px;
        width: 50%;
    }
}